.about{

    background:var(--color-background);

    padding:140px 0;

}

.grid{

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:30px;

}

.buttonContainer{

    display:flex;

    justify-content:center;

    margin-top:70px;

}

@media(max-width:992px){

    .grid{

        grid-template-columns:1fr;

    }

}